<nav class="bar bar--sm bg--dark" id="menu3">
    <div class="container">
        <div class="row">
            <div class="col-md-2 hidden-xs hidden-sm">
                <div class="bar__module">
                    <a routerLink="/library">
                        <img class="logo logo-dark" alt="logo" src="assets/images/logo/logo-large.png.svg" />
                        <img class="logo logo-light" alt="logo" src="assets/images/logo/logo-white-large.png.svg" />
                    </a>
                </div>
                <!--end module-->
            </div>
            <div class="col-md-4">
                <div class="bar__module">
                    <form class="hidden">
                        <input type="search" placeholder="Search site" name="query" />
                    </form>
                </div>
            </div>

            <!--end columns-->
            <div class="col-md-1">
                <div class="bar__module"></div>
            </div>
            <div class="col-md-5 text-right text-left-xs">
                <div class="bar__module">
                    <ul class="menu-horizontal text-left">
                        <li>
                            <a routerLink="/storage">Storage</a>
                        </li>
                        <li>
                            <a routerLink="/library">Library</a>
                        </li>
                        <li>
                            <a routerLink="/settings">Account</a>
                        </li>
                    </ul>
                </div>
                <!--end module-->
                <div class="bar__module">
                    <a class="btn btn--primary btn--sm type--uppercase" (click)="logout()">
                                    <span class="btn__text">
                                        Logout
                                    </span>
                    </a>
                </div>
                <!--end module-->
            </div>
            <!--end columns-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>