<quietthyme-header></quietthyme-header>
<quietthyme-page-title></quietthyme-page-title>

<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
			============================================= -->
            <div class="postcontent nobottommargin col_last clearfix">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, eos quibusdam accusamus. Maiores, distinctio similique at fugiat reiciendis corporis pariatur. Iusto, molestiae odio ullam quas ratione! Explicabo, sunt, totam mollitia eveniet quasi commodi maxime impedit quos magni deleniti? Laborum, ad, necessitatibus minima officiis mollitia commodi quia dolore enim animi doloribus.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, tempora, ullam tempore dicta consectetur qui enim earum odio nobis cum perspiciatis possimus expedita quae suscipit quibusdam ipsam aperiam atque dignissimos illo commodi quaerat temporibus consequuntur nemo fuga neque minus iusto natus vero dolor id cupiditate placeat esse ratione recusandae dolorem aliquam eius facilis repellat architecto reprehenderit odit rerum totam modi corporis pariatur doloribus magni error porro harum sint! Libero, consequatur, tempore minima tenetur quo vel modi incidunt officiis doloribus enim facere atque iusto cupiditate sint illum cumque iste reprehenderit nihil dolores saepe repellendus rerum dolore minus fugiat harum fugit dicta.</p>

            </div><!-- .postcontent end -->

            <!-- Sidebar
			============================================= -->
            <div class="sidebar nobottommargin clearfix">
                <div class="sidebar-widgets-wrap">

                    <div class="widget subscribe-widget clearfix">
                        <div class="dark" style="padding: 25px; background-color: #383838; border-radius: 2px;">
                            <div class="fancy-title title-border">
                                <h4>Subscribe</h4>
                            </div>

                            <p style="font-size: 15px; line-height: 1.5; color: #999;">Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
                            <div class="widget-subscribe-form-result"></div>
                            <form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
                                <div class="input-group divcenter">
                                    <span class="input-group-addon"><i class="icon-email2"></i></span>
                                    <input type="email" id="widget-subscribe-form-email2" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                </div>
                                <button class="button button-3d btn-block button-small nomargin" style="margin-top: 15px !important;" type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->


<kloudless-authenticator
        clientId="mddXeszdchTlRQEFN3LGhxLzqaTjgYwbXGLHCeXOqJdrzRyd"
        scope="gdrive box dropbox skydrive"
        (onAuthenticated)="kloudlessAuthenticated($event)"
>
    Kloudless
</kloudless-authenticator>


<quietthyme-footer></quietthyme-footer>