<section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
    <canvas id="granim-opds"></canvas>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="https://quietthyme.uservoice.com/knowledgebase/articles/113456#opds" target="_blank" class="label label--inline">OPDS</a>
                <span>{{ catalogUrl }}</span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
