<footer class="text-center-xs space--xs ">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-inline">
                    <li>
                        <a href="#">
                            <span class="h6 type--uppercase">About</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="h6 type--uppercase">Careers</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://quietthyme.uservoice.com/">
                            <span class="h6 type--uppercase">Support</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="https://www.reddit.com/r/quietthyme">
                            <i class="socicon socicon-reddit icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/thymetweets">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-7">
                <span class="type--fine-print">&copy;
                <span class="update-year"></span> QuietThyme Inc.</span>
                <a class="type--fine-print" routerLink="/privacy">Privacy Policy</a>
                <a class="type--fine-print" routerLink="/terms">Terms of Use</a>
            </div>
            <div class="col-sm-5 text-right text-center-xs">
                <a class="type--fine-print" href="mailto:hello@quietthyme.com">hello@quietthyme.com</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>