<ng2-slim-loading-bar class="navbar-fixed-top" [color]="'#128950'" [height]="'3px'"></ng2-slim-loading-bar>
<div class="main-container">
    <section class="height-100 imagebg text-center" data-overlay="4">
        <div class="background-image-holder login-bg">
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-7 col-md-5">
                    <h2>Login to continue</h2>

                    <div style="display:none;">
                        <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                <span class="btn__text">
                                    <i class="socicon-facebook"></i>
                                    Login with GoodReads
                                </span>
                        </a>
                        <hr>
                    </div>

                    <div >
                        <p class="lead">Welcome back, sign in with your existing QuietThyme account credentials</p>
                        <form (ngSubmit)="login()">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input [(ngModel)]="loginEmail" name="email" type="email" placeholder="Email" required/>
                                </div>
                                <div class="col-sm-12">
                                    <input [(ngModel)]="loginPassword" name="password" type="password" placeholder="Password" required/>
                                </div>
                                <div class="col-sm-12">
                                    <button [disabled]="loading.login" class="btn btn--primary type--uppercase" type="submit" >Login</button>
                                </div>
                            </div>
                            <!--end of row-->
                        </form>
                        <span class="type--fine-print block">Dont have an account yet?
                                <a routerLink="/register">Create account</a>
                            </span>
                        <span style="display:none;" class="type--fine-print block">Forgot your username or password?
                                <a href="#">Recover account</a>
                            </span>
                    </div>

                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>