@import "https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700";
@import "less/theme-variables.less";

/////////////////////////////////////////////////
// Utilities
/////////////////////////////////////////////////
a.link, span.link {
  cursor: pointer;
}

input[disabled] {
  cursor: default;
  background: #EFEFEF;
}

.capitalize {
  text-transform: capitalize;
}

.uneditable-input.disabled {
  cursor: default;
  background: #EFEFEF;
}
.uneditable-input {
  width: 100%;
  padding-left: 0.92857143em;
  -webkit-appearance: none;
  background: #FCFCFC;
  padding: 0.46428571em;
  border-radius: 6px;
  border: 1px solid #ECECEC;
  height: 2.78571429em;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

//
//@keyframes flickerAnimation {
//  0%   { opacity:0; }
//  10%  { opacity:1; }
//  50%  { opacity:1; }
//  100% { opacity:0; }
//}
//@-o-keyframes flickerAnimation{
//  0%   { opacity:0; }
//  10%  { opacity:1; }
//  50%  { opacity:1; }
//  100% { opacity:0; }
//}
//@-moz-keyframes flickerAnimation{
//  0%   { opacity:0; }
//  10%  { opacity:1; }
//  50%  { opacity:1; }
//  100% { opacity:0; }
//}
//@-webkit-keyframes flickerAnimation{
//  0%   { opacity:0; }
//  10%  { opacity:1; }
//  50%  { opacity:1; }
//  100% { opacity:0; }
//}
//.animate-flicker {
//  -webkit-animation: flickerAnimation 5s 1;
//  -moz-animation: flickerAnimation 5s 1;
//  -o-animation: flickerAnimation 5s 1;
//  animation: flickerAnimation 5s 1;
//  opacity: 0;
//}


/////////////////////////////////////////////////
// Notifications
/////////////////////////////////////////////////

.notification-wrapper {
  position: fixed;
  z-index: 99;
  width: 30%;

  .notification {
    position: static;
  }
  .notification-success .feature.feature--featured:after {
    background: @color-primary;
  }
  .notification-danger .feature.feature--featured:after {
    background: @color-error;
  }
  .notification-info .feature.feature--featured:after {
    background: @color-dark
  }
  .notification-warning .feature.feature--featured:after {
    background: grey
  }
}


/////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////

.navbar-fixed-top{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99999;
}


/////////////////////////////////////////////////
// Login Page
/////////////////////////////////////////////////

.login-bg {
  background: url('assets/images/bg/login_splash.jpg');
  background-position: initial;
  opacity: 1;
}

/////////////////////////////////////////////////
// Register Page
/////////////////////////////////////////////////
.register-bg {
  background: url('assets/images/bg/book_hallway.jpg');
  background-position: initial;
  opacity: 1;
}

/////////////////////////////////////////////////
// Register Plan Page
/////////////////////////////////////////////////
.register-plan-bg {
  background: url('assets/images/bg/reading-lake.jpg');
  background-position: initial;
  opacity: 1;
}

/////////////////////////////////////////////////
// Library Page
/////////////////////////////////////////////////
.library-bg {
  background: url('assets/images/bg/reading_coffee_shop.jpg');
  background-position: initial;
  opacity: 1;
}

.library-book-upload-bg {
  background: url('assets/images/bg/book_shelf.jpg');
  background-position: initial;
  opacity: 1;
}

.library-book-cover {
  width: 100%;
}

.library-books .card__action .downloading .glyphicon-download {
  color: #238b53
}

.dropzone {
  min-height: 250px;
}

//.library-book-cover-wrapper:before {
//  content: "";
//  position: absolute;
//  z-index: 22;
//  height: 100%;
//  width: 100%;
//  background: url(/assets/images/book-overlay.png) repeat-y left;
//  background-size: 100% auto;
//  left: 0;
//}



/////////////////////////////////////////////////
// Storage Page
/////////////////////////////////////////////////

#storage-carousel .carousel-indicators {
  bottom: -1.71428571em
}

/////////////////////////////////////////////////
// Book Details Page
/////////////////////////////////////////////////

.book-details-cover-image {
  min-height: 400px;
}

.book-details-icons {
  .socicon-goodreads {
    background-color: #463020;
    color: white;
    padding: 5px;
  }

  .socicon-google {
    background-color:  #4285f4;
    color: white;
    padding: 5px;

  }

  .socicon-amazon {
    background-color: #ff9900;
    color: white;
    padding: 5px;
  }

}



.accordion .panel{
  //.accordion__title, .accordion__content, .accordion__content *{
  //  .transition(.3s,linear);
  //}
  .panel-heading{
    cursor: pointer;
    padding: @accordion-title-padding;
    border: @accordion-title-border;
    border-bottom: none;
    background: @accordion-title-bg;
    margin-bottom: @base-line-height/2;
    border-radius: 6px;
    border-bottom: 1px solid #ECECEC;

    .panel-title .accordion-toggle:first-child *:before {
      content: '»';
      margin-right: 6px;
      color: #252525;
    }
  }
  //&:last-child{
  //  .accordion__title{
  //    border-bottom: @accordion-title-border;
  //  }
  //}
  .panel-collapse{

    >*:first-child{
      padding-top: @accordion-content-padding;
    }
    >*:last-child{
      padding-bottom: @accordion-content-padding;
    }
  }
}

.accordion .panel.panel-open{
  .panel-heading{
    background: @accordion-title-bg-active;
    border-bottom: @accordion-title-border;
    color: #fff;
    .panel-title .accordion-toggle:first-child *:before {
      color: #fff;
    }
    border-color: @color-primary;
  }
  .panel-collapse{

    //max-height: 500px;
  }
}
