@import "https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i";
@import "https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700";


/////////////////////////////////////////////////
// Utilities
/////////////////////////////////////////////////
a.link, span.link {
  cursor: pointer;
}

/////////////////////////////////////////////////
// Header
/////////////////////////////////////////////////

.navbar-fixed-top{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99999;
}


/////////////////////////////////////////////////
// Login Page
/////////////////////////////////////////////////

.login-bg {
  background: url('assets/images/bg/login_splash.jpg');
  background-position: initial;
  opacity: 1;
}

/////////////////////////////////////////////////
// Register Page
/////////////////////////////////////////////////
.register-bg {
  background: url('assets/images/bg/book_hallway.jpg');
  background-position: initial;
  opacity: 1;
}

/////////////////////////////////////////////////
// Register Plan Page
/////////////////////////////////////////////////
.register-plan-bg {
  background: url('assets/images/bg/reading-lake.jpg');
  background-position: initial;
  opacity: 1;
}

/////////////////////////////////////////////////
// Library Page
/////////////////////////////////////////////////
.library-bg {
  background: url('assets/images/bg/reading_coffee_shop.jpg');
  background-position: initial;
  opacity: 1;
}

.library-book-upload-bg {
  background: url('assets/images/bg/book_shelf.jpg');
  background-position: initial;
  opacity: 1;
}

.library-book-cover {
  width: 100%;
}

.library-books .card__action .downloading .glyphicon-download {
  color: #238b53
}

.dropzone {
  min-height: 250px;
}

//.library-book-cover-wrapper:before {
//  content: "";
//  position: absolute;
//  z-index: 22;
//  height: 100%;
//  width: 100%;
//  background: url(/assets/images/book-overlay.png) repeat-y left;
//  background-size: 100% auto;
//  left: 0;
//}



/////////////////////////////////////////////////
// Storage Page
/////////////////////////////////////////////////

#storage-carousel .carousel-indicators {
  bottom: -1.71428571em
}

/////////////////////////////////////////////////
// Book Details Page
/////////////////////////////////////////////////

.book-details-cover-image {
  min-height: 400px;
}

.book-details-icons {
  .socicon-goodreads {
    background-color: #463020;
    color: white;
    padding: 5px;
  }

  .socicon-google {
    background-color:  #4285f4;
    color: white;
    padding: 5px;

  }

  .socicon-amazon {
    background-color: #ff9900;
    color: white;
    padding: 5px;
  }

}

