<ng2-slim-loading-bar class="navbar-fixed-top" [color]="'#128950'" [height]="'3px'"></ng2-slim-loading-bar>
<div class="main-container">
    <section class="imageblock switchable feature-large height-100">
        <div class="imageblock__content col-md-6 col-sm-4 pos-right">
            <div class="background-image-holder register-bg" >
            </div>
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <h2>Create a Stack account</h2>
                    <p class="lead">Get started with a 14 day free trial, No credit card required &mdash; cancel at any time.</p>

                    <div style="display:none;">
                        <a class="btn block btn--icon bg--facebook type--uppercase" href="#">
                                    <span class="btn__text">
                                        <i class="socicon-facebook"></i>
                                        Sign up with Facebook
                                    </span>
                        </a>
                        <a class="btn block btn--icon bg--twitter type--uppercase" href="#">
                                    <span class="btn__text">
                                        <i class="socicon-twitter"></i>
                                        Sign up with Twitter
                                    </span>
                        </a>
                        <hr data-title="OR">
                    </div>
                    <form (ngSubmit)="register()" >
                        <div class="row">
                            <div class="col-xs-12">
                                <input [(ngModel)]="regName" name="name" type="text" name="Name " placeholder="Name" required/>
                            </div>
                            <div class="col-xs-12">
                                <input [(ngModel)]="regEmail" name="email" type="email" name="Email Address" placeholder="Email Address" required/>
                            </div>
                            <div class="col-xs-12">
                                <input [(ngModel)]="regPassword" name="password" type="password" name="Password" placeholder="Password" required/>
                            </div>
                            <div class="col-xs-12">
                                <button [disabled]="loading.register" type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                            </div>
                            <div class="col-xs-12">
                                        <span class="type--fine-print">By signing up, you agree to the
                                            <a href="#">Terms of Service</a>
                                        </span>
                            </div>
                        </div>
                        <!--end row-->
                    </form>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>