<quietthyme-header></quietthyme-header>
<quietthyme-page-title *ngIf="book" title="Book Details"></quietthyme-page-title>

<!-- Content
		============================================= -->
<section id="content" class="footer-padding">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="single-post nobottommargin">

                        <!-- Single Post
						============================================= -->
                        <div class="entry clearfix" *ngIf="book">

                            <!-- Entry Title
							============================================= -->
                            <div class="entry-title">
                                <h2>{{ book.title }}</h2>
                            </div><!-- .entry-title end -->

                            <!-- Entry Meta
							============================================= -->
                            <ul class="entry-meta clearfix">
                                <li><i class="icon-calendar3"></i> {{ book.created_at }}</li>
                                <li><a href="#"><i class="icon-user"></i> {{ book.authors }}</a></li>
                                <li *ngIf="book.series_name"><i class="icon-folder-open"></i> <a href="#">{{ book.series_name }}</a> #{{ book.series_number }}</li>
                                <li *ngIf="book.isbn || book.isbn10"><i class="icon-bookmark2"></i> <a href="#">{{ book.isbn || book.isbn10 }}</a></li>
                            </ul><!-- .entry-meta end -->

                            <!-- Entry Content
							============================================= -->
                            <div class="entry-content notopmargin">

                                <!-- Entry Image
								============================================= -->
                                <div class="entry-image alignleft">
                                    <a href="#">
                                        <img *ngIf="book.cover" src="https://s3.amazonaws.com/{{ book.cover }}" alt="{{ book.title }}">
                                        <img *ngIf="!book.cover" src="assets/images/noart.png" alt="{{ book.title }}">
                                    </a>
                                </div><!-- .entry-image end -->

                                <markdown [data]="book.short_summary"></markdown>
                                <!-- Post Single - Content End -->

                                <!-- Tag Cloud
								============================================= -->
                                <div class="tagcloud clearfix bottommargin">
                                    <a href="#" *ngFor="let tag of book.tags; let myIndex = index">{{ tag }}</a>
                                </div><!-- .tagcloud end -->

                                <div class="clear"></div>

                                <!-- Post Single - Share
								============================================= -->
                                <div class="si-share noborder clearfix">
                                    <span>Find on:</span>
                                    <div>
                                        <a *ngIf="book.amazon_id" href="http://www.amazon.com/exec/obidos/ASIN/{{ book.amazon_id }}" class="social-icon si-borderless si-amazon">
                                            <i class="icon-amazon"></i>
                                            <i class="icon-amazon"></i>
                                        </a>
                                        <a *ngIf="book.google_id" href="https://books.google.com/books?id={{ book.google_id }}" class="social-icon si-borderless si-google">
                                            <i class="icon-google"></i>
                                            <i class="icon-google"></i>
                                        </a>
                                        <a *ngIf="book.goodreads_id" href="#" class="social-icon si-borderless si-goodreads">
                                            <i class="icon-google"></i>
                                            <i class="icon-google"></i>
                                        </a>
                                    </div>
                                </div><!-- Post Single - Share End -->

                            </div>
                        </div><!-- .entry end -->

                    </div>
                </div>
            </div>


        </div>

    </div>

</section><!-- #content end -->

<quietthyme-footer class="navbar-fixed-bottom"></quietthyme-footer>