<quietthyme-header></quietthyme-header>
<div class="main-container">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{{ book.title }}</h1>
                    <ol class="breadcrumbs">
                        <li>
                            <a routerLink="/library">Library</a>
                        </li>
                        <li>
                            <a href="#">{{ book.authors }}</a>
                        </li>
                        <li *ngIf="book.series_name">
                            <a href="#">{{ book.series_name }}</a> #{{ book.series_number }}
                        </li>
                        <li *ngIf="book.isbn || book.isbn10">
                            ISBN &mdash; {{ book.isbn || book.isbn10 }}
                        </li>
                    </ol>
                    <hr>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="space--lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <img *ngIf="book.cover" class="border--round box-shadow-wide book-details-cover-image" src="https://s3.amazonaws.com/{{ book.cover }}" alt="{{ book.title }}">
                            <img *ngIf="!book.cover" class="border--round box-shadow-wide" src="assets/images/noart.png" alt="{{ book.title }}">

                        </div>
                    </div>
                    <div class="row" style="padding-top:40px">
                        <div class="col-md-12">
                            <button [disabled]="loading.download" (click)="downloadBook()" class="btn btn--primary" >Download</button>
                        </div>
                    </div>

                </div>
                <div class="col-sm-7 col-md-6 col-md-offset-1">
                    <h2>{{ book.title }}</h2>
                    <div class="text-block">
                        <span class="h4 inline-block">{{ book.authors }}</span>
                    </div>
                    <markdown [data]="book.short_summary"></markdown>

                    <accordion style="padding-top: 30px;" class="accordion accordion-2 accordion--oneopen">

                        <accordion-group heading="Details">
                            <ul class="bullets">
                                <li>
                                    <span>Title &mdash; {{ book.title }}</span>
                                </li>
                                <li>
                                    <span>Authors &mdash; {{ book.authors }}</span>
                                </li>
                                <li *ngIf="book.series_name">
                                    <span>Series &mdash; {{ book.series_name }} #{{ book.series_number }}</span>
                                </li>

                                <li>
                                    <span>ISBN &mdash; {{ book.isbn || book.isbn10 }}</span>
                                </li>
                                <li *ngIf="book.published_date">
                                    <span>Published &mdash; {{ book.published_date | amDateFormat:'LL' }}</span>
                                </li>
                                <li *ngIf="book.language">
                                    <span>Language &mdash; {{ book.language }}</span>
                                </li>
                                <li *ngIf="book.pages">
                                    <span>Pages &mdash; {{ book.pages }}</span>
                                </li>
                            </ul>
                        </accordion-group>

                        <accordion-group heading="Tags">
                            <span class="label label-default" *ngFor="let tag of book.tags; let myIndex = index">{{ tag }}</span>
                        </accordion-group>

                        <accordion-group heading="External Links">
                            <a *ngIf="book.amazon_id" href="http://www.amazon.com/exec/obidos/ASIN/{{ book.amazon_id }}" class="book-details-icons">
                                <i class="socicon socicon-amazon icon icon--s"></i>
                            </a>

                            <a *ngIf="book.google_id" href="https://books.google.com/books?id={{ book.google_id }}" class="book-details-icons">
                                <i class="socicon socicon-google icon icon--s"></i>
                            </a>

                            <a *ngIf="book.goodreads_id" href="https://www.goodreads.com/book/show/{{ book.goodreads_id }}" class="book-details-icons">
                                <i class="socicon socicon-goodreads icon icon--s"></i>
                            </a>
                        </accordion-group>

                    </accordion>

                    <!--end accordion-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

    <quietthyme-footer></quietthyme-footer>
</div>


