<ng2-slim-loading-bar class="navbar-fixed-top" [color]="'#128950'" [height]="'3px'"></ng2-slim-loading-bar>

<quietthyme-header></quietthyme-header>
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="row clearfix">

                <div class="col-md-offset-2 col-md-8">

                    <img src="assets/images/icons/avatar.jpg" class="alignleft img-circle img-thumbnail notopmargin nobottommargin" alt="Avatar" style="max-width: 84px;">

                    <div class="heading-block noborder">
                        <h3>{{ userData.name }}</h3>
                        <span>Settings</span>
                    </div>

                    <div class="clear"></div>

                    <div class="row clearfix">

                        <div class="col-md-12">
                            <tabset #settingsTabs>
                                <tab>
                                    <template tabHeading>
                                        <i class="icon-bookmark2"></i> Catalog
                                    </template>

                                    <p class="">The Open Publication Distribution System (OPDS) catalog format is a syndication
                                        format for electronic publications based on Atom and HTTP. Every QuietThyme user
                                        gets their own unique Catalog url. When paired with a OPDS compatible ebook reader,
                                        like Marvin (iOS), Aldiko (Android), Bluefire (Both), you can access your ebook
                                        library anytime, anywhere, on any device.

                                    </p>

                                    <div class="well">http://catalog.quietthyme.com/beta/<strong>{{ userData.catalog_token }}</strong></div>

                                </tab>
                                <tab>
                                    <template tabHeading>
                                        <i class="icon-credit"></i> Plans
                                    </template>
                                    <quietthyme-plans></quietthyme-plans>
                                </tab>
                            </tabset>
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>

</section><!-- #content end -->

<quietthyme-footer></quietthyme-footer>
